body {
  background: grey;
  position: relative;
}

* {
  transition: 0.5s;
  box-sizing: border-box;
}

nav {
  background: tomato;
  padding: 10px 0;
  text-align: center;
  position: absolute;
  top: -100px;
  width: 100%;
  transition: 1s ease;
}

nav ul li {
  display: inline-block;
  width: 20%;
  position: relative;
  bottom: 200px;
}

nav ul {
  padding: 0;
  margin: 0;
}

section {
  background: blue;
  height: 400px;
}

section:nth-of-type(2) {
    background-color: crimson;
}



/* RIPPLE EFFECT ONCLICK */
section {
  background-color: cyan;
  height: 100vh;
}

.circle {
  position: absolute;
  height: 50px;
  width: 50px;
  background: white;
  border-radius: 50%;
  opacity: 0;
  transform: scale(0);
  animation: ripple 1s;
}

@keyframes ripple {
    30% {
      opacity: 1;
    }

    100% {
      opacity: 0;
      transform: scale(3);
    }
}
